*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilory;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width:100%;
    background-color: white;
}
#nav{
    height: 100px;
    width:100%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
#nav-part1{
    display:flex;
    align-items: center;
    justify-content: center;
}
#nav h3{
    font-size: 16px;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 40%;
}
#i{
    font-size: 17px;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 40%;
}
#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    border-radius: 40%;
    border: 1px solid black;
    font-size: 13px;
    font-weight: 600;
    background-color: white;

}
#nav-part3 #btn2{
    background-color:orangered;
    color: white;
    
}
#advantage{
    color:black;
    text-align: center;
    font-size: 100px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: white;
    text-transform: uppercase;
}

img{
    height: 400px;
    width: 280px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    border-radius: 20%;
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}
#img4{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img5{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img6{
    transform: translate(-50%,-50%) rotate(-10deg);
}
#bottomleft{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 17px;
}
#bottomright{
    position: absolute;
    bottom:5%;
    right:5%;
    font-size: 17px;
}
footer > p{
    text-align: center;
    
}